body {
    margin: 10px auto;
    min-width: 200px;
    max-width: 50%;
    background-color: brown;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
}


/*all the odd item to different color*/

ul li:nth-child(odd) {
    background: rgb(122, 119, 119);
}

ul li:hover {
    background: #ddd;
}

ul li.checked {
    background: brown;
    color: white;
}


/* put style to close button */

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: crimson;
    color: white;
}

.header {
    background-color: crimson;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.header::after {
    content: "";
    display: table;
    clear: both;
    /* apply float property for both */
}

input {
    margin: 0;
    border: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.addBtn:hover {
    background-color: #bbb;
}

#clear-list {
    width: 30%;
    font-weight: bold;
    font-style: italic;
    font-size: xx-large;
    margin: 40px 35%;
    background-color: gray;
    color: white;
}

#clear-list:hover {
    background-color: rgb(62, 62, 68);
    color: white;
}